In [53]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

In [3]:
# Test of Package Import
from winderpoweroutput.main.main import test
test()

## NetCDF Data Reading

NetCDF - Network Common Data Form

In [4]:
import netCDF4 as nc

In [10]:
path_norre = '../raw_data/Norre DK Windfarm SCADA data/norre_m2_all.nc'
ds = nc.Dataset(path_norre)

In [14]:
# print meta data
# print(ds)
print(ds.__dict__)

# print meta data item
print(ds.__dict__['title'])

{'title': 'Wind farm data from Norrekaer Enge, DK', 'authors': 'Kurt Schaldemose Hansen, Nikola Vasiljević and Steen Arne Sørensen', 'summary': 'This dataset includes SCADA data and mast measurements from the 42 turbines in Norrekaer Enge windfarm. The period \nincludes more than 1 year of statistics, which includes turbine power, nacelle wind speed and yaw position for each \nwind turbine. Furthermore, speed and wind direction signals from the 2 masts have been included.\nCheck the report at https://doi.org/10.5281/zenodo.4580573 for more details.\n', 'comment': '', 'history': '2022-01-27T10:49:35\tUpdated metadata information\n2022-01-27T10:49:36\tNetCDF created and stored on local machine', 'institution': 'DTU Wind Energy', 'naming_authority': 'DTU Data', 'doi': 'https://doi.org/10.11583/DTU.19076756', 'format': 'DTU Wind Energy 1.0 NetCDF', 'Conventions': 'CF-1.8', 'license': 'CC BY NC 4.0', 'distribution_statement': 'These data follow DTU Wind Energy standards; they are public and free of charge.\nUser assumes all risk for use of data. User must display citation in any publication or product using data.\nUser must contact DTU Wind Energy prior to any commercial use of data.\n', 'citation': '', 'site': 'Norre_m2', 'country': 'DK', 'northBoundLatitude': 57.001731, 'southBoundLatitude': 57.001731, 'eastBoundLongitude': 9.409744, 'westBoundLongitude': 9.409744, 'altitude': -3, 'featureType': 'trajectoryProfile', 'cdm_data_type': 'Trajectory', 'date_create': '2022-01-27T10:49:35', 'date_update': '2022-01-27T10:49:35', 'data_mode': 'Mixed', 'source': 'physical'}
Wind farm data from Norrekaer Enge, DK

In [16]:
# access dimensions
ds.dimensions # here only time dimension

dict_values([<class 'netCDF4._netCDF4.Dimension'>: name = 'time', size = 72577])

In [25]:
# access variable metadata
# for vars in ds.variables.values():
#     print(vars)

# access variable names
ds.variables.keys()

# access single variable meta data
print(ds['time'])

<class 'netCDF4._netCDF4.Variable'>
int64 time(time)
    units: minutes since 1991-12-22 23:36:00
    calendar: proleptic_gregorian
unlimited dimensions:
current shape = (72577,)
filling on, default _FillValue of -9223372036854775806 used

In [29]:
# access actual data of variable
ds['time'][:]

# return subset
ds['time'][4000:4005]

masked_array(data=[53905, 53915, 53925, 53935, 53945],
             mask=False,
       fill_value=999999)

## Data Exploration

COMMENT: Figure out what each column does and maybe try to isolate one turbine to plot some data.

In [ ]:
# load into pandas dataframe
data = {var:ds[var][:] for var in ds.variables.keys()}
df = pd.DataFrame(data)

In [73]:
# add reliable time
start_time = datetime.strptime("1991-12-22 23:36:00", '%Y-%m-%d %H:%M:%S')
df['time_dt'] = df.time.apply(lambda time: start_time + timedelta(minutes=time))
# reorder df
column = ['time_dt']
column.extend(df.columns[:-1])
df = df[column]
df.head()

,time_dt,time_dt,time,connect,connect_qc,d31_1,d31_1_qc,d34_2,d34_2_qc,park,...,f5_ym_qc,f6_wsn,f6_wsn_qc,f6_ym,f6_ym_qc,f7_pow,f7_pow_qc,f7_wsn,f7_wsn_qc,f7_ym
0,1991-12-22 23:36:00,1991-12-22 23:36:00,0,42.0,0,257.41,0.0,253.61,0.0,5253.5,...,0.0,NaN,NaN,-10.71,0.0,113.5,0.0,NaN,NaN,-9.38
1,1991-12-22 23:46:00,1991-12-22 23:46:00,10,42.0,0,259.57,0.0,255.78,0.0,5012.9,...,0.0,NaN,NaN,-4.01,0.0,98.9,0.0,NaN,NaN,-9.68
2,1991-12-22 23:56:00,1991-12-22 23:56:00,20,42.0,0,260.11,0.0,257.12,0.0,4272.9,...,0.0,NaN,NaN,-3.73,0.0,78.6,0.0,NaN,NaN,-5.21
3,1991-12-23 00:06:00,1991-12-23 00:06:00,30,42.0,0,255.64,0.0,254.12,0.0,5253.9,...,0.0,NaN,NaN,-6.03,0.0,113.8,0.0,NaN,NaN,-8.50
4,1991-12-23 00:16:00,1991-12-23 00:16:00,40,42.0,0,252.99,0.0,252.15,0.0,5740.6,...,0.0,NaN,NaN,-6.13,0.0,128.9,0.0,NaN,NaN,-5.75